:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  text-shadow: 1px 1px 5px black;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(transparent 0%, rgba(0, 0, 0, 0.55) 100%),
    linear-gradient(
      90deg,
      transparent 0%,
      #4076ea 0%,
      rgba(98, 191, 230, 1) 45%,
      #d748e0 100%
    );
  padding: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #646cff;
  border-color: #646cff;
}
